---
layout:  page
title:   Blog
permalink: /blog/
---

<div class="home">
    {% for post in site.posts %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
    <ul class="posts">
    {% endif %}

    {% if post.news %}
    <li>{{post.headline | markdownify | remove: "<p>" | remove: "</p>"}}<span>{{ post.date | date: '%B %d' }}</span></li>
    {% else %}
    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><span>{{ post.date | date: '%B %d' }}</span></li>
    {% endif %}

    {% if forloop.last %}
    </ul>
    {% else %}
      {% if this_year != next_year %}
      </ul>
      <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
      <ul class="posts">
      {% endif %}
    {% endif %}
    {% endfor %}
</div>
