@charset "utf-8";
main {
    max-width: 48rem;
    margin: 0 auto 3rem;
    padding: 0 2rem;
}
.sharing {
    text-align: center;
    padding: 2rem 0 1rem 0;
    border-top: 1px $color-lgray dashed;
    margin-top: 2rem;
}
.about-icon {
    margin-right: 10px;
}
.site-header {
    .site-title {
        font-weight: 700;
        > a {
            color: $text-color;
            text-decoration: none;
            &:hover {
                border-bottom: 1px $color-black dashed;
            }
        }
    }
    .site-nav {
        > a {
            color: $text-color;
            &:hover {
                text-decoration: none;
                border-bottom: 1px $color-black dashed;
            }
            &.active {
                border-bottom: 2px solid #666;
            }
            + a {
                margin-left: 1rem;
            }
        }
    }
}
.posts {
    list-style: none;
    padding: 0;
    > li {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        position: relative;
        padding-right: 120px;
        span {
            color: $meta-color;
            float: right;
            font-size: $small-font-size;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
        }
        a {
            color: $text-color;
            text-decoration: none;
            border-bottom: 1px $color-lgray dashed;
        }
        a:hover {
            border-bottom: 1px $color-black dashed;
        }
    }
}
.post {
    margin-top: 3rem;
    position: relative;
    .post-header {
        text-align: center;
        margin-bottom: 0;
    }
    .post-meta {
        margin: 0;
        text-align: center;
        color: $meta-color;
        font-size: $small-font-size;
    }
}
@media screen and (max-width: 48rem) {
    .site-header {
        .site-title,
        .site-nav {
            text-align: center;
        }
    }
}
