@charset "utf-8";
main {
    max-width: 48rem;
    margin: 0 auto 3rem;
    padding: 0 2rem;
}
#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 16px $head-font-family;
    width: 100%;
    padding-bottom: 1rem;
    line-height: 1.5;
}
.sharing {
    text-align: center;
    padding: 2rem 0 1rem 0;
    border-top: 1px $color-lgray dashed;
    margin-top: 2rem;
}
.about-icon {
    margin-right: 5px;
    margin-left: 5px;
}
.pubs-subtext {
    font-size: $small-font-size;
}
.site-header {
    display: table;
    width: 100%;
    margin-top: 20px;

    .site-title {
        font-weight: 700;
        display: table-cell;
        vertical-align: middle;
        > a {
            color: $text-color;
            text-decoration: none;
            &:hover {
                border-bottom: 1px $color-black dashed;
            }
        }
    }
    .site-nav {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        > a {
            color: $text-color;
            &:hover {
                text-decoration: none;
                border-bottom: 1px $color-black dashed;
            }
            &.active {
                border-bottom: 2px solid #666;
            }
            + a {
                margin-left: 1rem;
            }
        }
    }
}
.posts {
    list-style: none;
    padding: 0;
    > li {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        position: relative;
        padding-right: 120px;
        span {
            color: $meta-color;
            float: right;
            font-size: $small-font-size;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
        }
        a {
            color: $text-color;
            text-decoration: none;
            border-bottom: 1px $color-lgray dashed;
        }
        a:hover {
            border-bottom: 1px $color-black dashed;
        }
    }
}
.post {
    margin-top: 3rem;
    position: relative;
    .post-header {
        text-align: center;
        margin-bottom: 0;
    }
    .post-meta {
        margin: 0;
        text-align: center;
        color: $meta-color;
        font-size: $small-font-size;
    }
}
.img_row {
    height: $img-height;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.col {
    width: 100%;
    height: 100%;
    float: left;
    object-fit: cover;
    box-sizing:border-box;
    padding: $img-spacing;
}
.one-third {
    width: 33.33%;
}
.two-third {
    width: 66.66%;
}
.full-third {
    width: 100%;
}
.one-half {
    width: 50%;
}
.full-half {
    width: 100%;
}
.pp {
    width: 18rem;
    height: 18rem;
    float: left;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
@media screen and (max-width: 48rem) {
    .site-header {
        display: inline;
        .site-title,
        .site-nav {
            display: block;
            text-align: center;
        }
    }
}

@media screen and (max-width: 36rem) {
    .pp {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
