---
layout: default
---
<article class="post">
  <h2 class="post-header">{{ page.title }}</h2>
  <p class="post-meta">{{ page.date | date: '%B %d, %Y' }}</p>
  {{ content }}

  <div class="sharing">
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ page.title }}" data-size="default">
      Tweet
    </a>
  </div>
  <script>
  window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));
  </script>

  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
  <form action="https://sankhs.us3.list-manage.com/subscribe/post?u=460fd9a981033770cf487447b&amp;id=0bf2663044" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
    <label for="mce-EMAIL">Subscribe to this blog</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_460fd9a981033770cf487447b_0bf2663044" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>
  </div>

  <!--End mc_embed_signup-->

  {% if site.disqus_shortname %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    var disqus_shortname  = '{{ site.disqus_shortname }}';
    var disqus_identifier = '{{ page.id }}';
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
  {% endif %}
</article>
